<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test tab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-wrapper">

    <ion-button id="test-alert">Test alert</ion-button>
    <ion-alert
      trigger="test-alert"
      header="Test alert"
      message="This is a test alert."
      [buttons]="alertButtons"/>

  </div>

</ion-content>
